name: docs

on: [push, pull_request]

jobs:
  yard:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: "3.2"
        bundler-cache: true
    - name: Run YARD
      run: bundle exec rake yard
    - name: Verify Yardstick coverage
      run: bundle exec rake verify_measurements
